body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.link {
  position: fixed;
  right: 8px;
  top: 8px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.link svg {
  margin-right: 8px;
}

.link:hover {
  opacity: 0.8;
}